{% extends "root.html" %}
{% load static %}
{% block add_imports %}
<link rel="stylesheet" href="{% static "styles/login_styles.css" %}">
{% endblock add_imports %}
{% block title %}
Log In
{% endblock title %}

{% block content %}

<div class="login_form">
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.username.label_tag }}
    <br/>
    {{ form.username }}
    <br/>
    {{ form.password.label_tag }}
    <br/>
    {{ form.password }}
        
    <input type="submit" value="login"/>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
    <a href="{% url 'password_reset' %}">Забыли пароль?</a>
    <a href="{% url 'sign_up' %}">Ещё не зарегистрированы?</a>
</div>

{%endblock content%}