{% extends "root.html" %}
{% load static %}
{% block add_imports %}
<link rel="stylesheet" href="{% static "styles/login_styles.css" %}">
{% endblock add_imports %}

{%block title%}
Профиль
{%endblock title%}
{% block content %}
<div class="centered">
<div class="profile_form">
    {% if userform.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            {% for key, value in userform.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

{% if passwordform.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <div id="form_errors">
        {% for key, value in passwordform.errors.items %}
            <strong>{{ value }}</strong>
        {% endfor %}
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
    Здесь Вы можете посмотреть и заполнить основную информацию о себе.
    <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        {% for field in userform %}
        {{ field.label_tag }} {{ field }} <br/>
        {% endfor %}
            
        <input type="submit" value="update"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        {% for field in passwordform %}
        {{ field.label_tag }} {{ field }} <br/>
        {% endfor %}
            
        <input type="submit" value="update"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        {% for field in healthform %}
        {{ field.label_tag }} {{ field }} <br/>
        {% endfor %}
            
        <input type="submit" value="update"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock content %}