{% extends "root.html" %}
{% load static %}
{% block add_imports %}
<link rel="stylesheet" href="{% static "styles/login_styles.css" %}">
{% endblock add_imports %}
{% block title %}
Регистрация
{% endblock title %}

{% block content %}

<div class="register_form">
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<form method="post" action="{% url 'sign_up' %}">
    {% csrf_token %}
    {% for field in form %}
    {{ field.label_tag }} {{ field }}
    {% endfor %}
        
    <input type="submit" value="login"/>
    <input type="hidden" name="next" value="{{ next }}" />
</form></div>

{%endblock content%}