{% extends "root.html" %}

{% block title %}

{% endblock %}

{% block content %}

<form action="{{ url_name }}" method="post">
    {% csrf_token %}
    {% for field in form %}
    {{ field.label_tag }} {{ field }} <br/>
    {% endfor %}
    <input type="submit" value="update"/>
</form>
<h1> result: {{ result }} </h1>
<h1> means: {{ result_expl }} </h1>
{{ score }}
{% endblock  %}
