{% extends "root.html" %}
 {% block title %}
    Список наших калькуляторов
 {% endblock %}

{% block content %}
<ul>
    {% for calc, link in object_list.items %}
    <li>
        <a href="{{ link }}">{{ calc }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}