{% extends "root.html" %}

{% block content %}
<div class="centered">
    Привет! <br/>
    Это - Калькулятор Здоровья. <br/>
    Он поможет тебе узнать немного больше о твоем здоровье и рассчитает некоторые жизненно важные параметры твоего организма
</div>
{% endblock content %}