<!DOCTYPE html>
<html lang="ru">
<head>
    <title>
        {%block title%} {%endblock%}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static "styles/styles.css" %}">
    <link rel="stylesheet" href="{% static "styles/menus.css" %}">
    {%block add_imports%} {%endblock%}
</head>
<body>
<header>
    <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox" />

          <span></span>
          <span></span>
          <span></span>

          <ul id="menu">
            <a href="/"><li>На главную</li></a>
            <a href="/about"><li>О нас</li></a>
            <a href="/calc"><li>Список калькуляторов</li></a>
            <a href={%url "login"%}><li>Войти или зарегистрироваться</li></a>
          </ul>
        </div>
      </nav>
      {% if user.is_authenticated %}
    <p class="user_info">Вы вошли как {{ user.get_username }}. <br/> <a href={%url "logout"%}>(Выйти)</a></p>
{% else %}
    <p class="user_info">Вы не вошли в систему. <br/> <a href={%url "login"%} class="user_info">(Войти)</a></p>
{% endif %}
</header>
{% block content %}
{% endblock content %}
</body>
</html>
