input[type=text] {
    padding: 5px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
    margin: 5px;
    width: 85%
  }
  
  input[type=email] {
    padding: 5px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
    margin: 5px;
    width: 85%
  }

  input[type=password] {
    padding: 5px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
    margin: 5px;
    width: 85%
  }
  
  
  input[type="submit" i] {
    border: #3563cc;
    border-radius: 50px;
    padding: 10px;
    background-color: #3563cc;
    color: #FFF;
    align-self: center;
    width: 100px;
    height: 40px;
    position: relative;
    bottom: 0;
    left: 6%;
    right: 0;
    margin: 5px;
  }
  
  .login_form {
    width: 300px;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: medium solid #3563cc;
    padding: 5%;
    border-radius: 30px;
  }

  .register_form {
    width: 300px;
    height: 75%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: medium solid #3563cc;
    padding: 5%;
    border-radius: 30px;
  }

  .profile_form {
    width: 300px;
    height: 580px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: medium solid #3563cc;
    padding: 2%;
    border-radius: 30px;
  }