html, body {
    margin: 0;
    height: 100%;
    background-color: aliceblue;
  }

  * {
    box-sizing: border-box;
    font-family: sans-serif;
  }



header {
    background-color: #3563cc;
    width: 100%;
    height: 8%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.centered{
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 80%;
    display: inline;
    text-align: center;

}

.user_info{
  align-self: flex-end;
  color: white;
}